# Salin file ini menjadi .env dan isi dengan secret key Anda untuk pengembangan lokal
# Di sistem produksi, variabel ini diset via systemd (/etc/systemd/system/billing.service)

SECRET_KEY=isi_dengan_secret_key_acak_di_sini
